@inject IPlaylistService _playlistService;

@using Chinook.Services;
@using Chinook.Utility;
@using System.Security.Claims;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Chinook</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@($"playlist/{FavoritePlaylistId}")">
                <i class="bi bi-music-note-list me-3" style="font-size: 1.25em"></i>My Favorite Tracks
            </NavLink>
        </div>
        @foreach (var playlist in AllPlaylists)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="@($"playlist/{playlist.PlaylistId}")">
                    <i class="bi bi-music-note-list me-3" style="font-size: 1.25em"></i>@playlist.Name
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string FavoritePlaylistId = string.Empty;
    private List<ClientModels.Playlist> AllPlaylists;

    protected override async Task OnInitializedAsync()
    {
        await InvokeAsync(StateHasChanged);
        AllPlaylists = await _playlistService.GetPlaylists();
        var favoritesPlaylist = AllPlaylists.Find(x => x.Name == AppConstants.Favorites);
        if (favoritesPlaylist != null) AllPlaylists.Remove(favoritesPlaylist);

        FavoritePlaylistId = favoritesPlaylist.PlaylistId.ToString();
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}